.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  // responsive mobile first
  .item {
    flex-basis: 98%;
    padding-left: 8px;
    padding-right: 8px;
    background-color: black;
    height: 100px;
    margin: 1%;
  }
}

@media (min-width: 768px) {
  .cards {
    .item {
      flex-basis: 48%;
    }
  }
}

@media (min-width: 1120px) {
  .cards {
    .item {
      flex-basis: 31%;
    }
  }
}
